<launch>

   <node pkg="estimation_and_vision_assignment" type="monte_carlo_localization.py" output="screen" name="monte_carlo_localization">
         <param name="map_file" value="$(find estimation_and_vision_assignment)/resources/mcl.pkl" />
         <param name="dynamics_translation_noise_std_dev"    value="0.3" />
         <param name="dynamics_orientation_noise_std_dev"    value="0.1" />
         <param name="beam_range_measurement_noise_std_dev"  value="0.1" />     
   </node>

   <include file="$(find estimation_and_vision_assignment)/launch/occupancy_grid_reader.launch" >
        <arg name="occupancy_grid_filename"  value="$(find estimation_and_vision_assignment)/resources/mcl.pkl"/>
   </include>

</launch>